spring:
      profiles:
              active: dev
      jpa:
          show-sql: true
          generate-dll: true
      jackson:
              date-format: yyyyMMdd
      datasource:
#                    url: jdbc:postgresql://localhost:5432/orders?user=lmorganti&password=123456
                    url: ${JDBC_DATABASE_URL}
                    driverClassName: org.postgresql.Driver
                    maxActive: 10
                    maxIdle: 5
                    minIdle: 2
                    initialSize: 5
                    removeAbandoned=: true


logging:
        level:
              org:
                  springframework:
                                  web: INFO
                  hibernate: ERROR
